<div>
  <div>
    [<%= comment.user.name %>]
    <%= comment.created_at.strftime("%Y/%m/%d") %>
    <%= comment.content %>
  </div>

  <%# 限定只有提案者可以回覆留言 %>
  <%= link_to "刪除", admin_project_path, method: 'delete' %>

  <div id="reply-form-<%= comment.id %>"></div>

  <% if comment.replies.any? %>
    <% comment.replies.each do |reply| %>
      <%= render 'comments/reply', reply: reply %>
    <% end %>
  <% end %>

</div>