<div class="flex justify-center">
  <%= form_with(model: admin_comment, local: true, :html => { :class => 'bg-gray-100' }) do |f| %>
    <% if admin_comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(admin_comment.errors.count, "error") %> prohibited this admin_comment from being saved:</h2>
        <ul>
          <% admin_comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="rounded-lg p-8 flex flex-col">
      <div class="m-2">
        <%= f.label "留言/回覆內容" %><br/>
        <%= f.text_field :content %>
      </div>
      <div class="m-2">
        <%= f.label "留言人ID" %><br/>
        <%= f.number_field :user_id %>
      </div>
      <div class="m-2">
        <%= f.label "專案ID" %><br/>
        <%= f.number_field :project_id %>
      </div>
      <div class="m-2">
        <%= f.label "欲回覆的comment id" %><br/>
        <%= f.number_field :parent_id %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
    
  <% end %>
</div>
