<div class="message">
  <div class="content-container">
    <div class="content">
      <%= message.content %>
    </div>
    <div class="author">
      <%= message.user.name %>
    </div>
    <div class="check-msg-user">
      <div id="msg-owner-id" value="<%= message.user_id %>"></div>
      <div id="dialogbox-starter-id" value="<%= @dialogbox_starter.id %>"></div>
      <div id="project-owner-of-the-dialogbox-id" value="<%= @project_owner_of_the_dialogbox.id %>"></div>
    </div>
  </div>
</div>

<%# TODO 第2行放@current_user_id，給JS判斷；
         message.user = @dialogbox_starter，；
         message.user = @project_owner_of_the_dialogbox，。 %>