<section class="profile-show-nav">
  <div class="profile-nav-container">
    <div class="profile-show-row">
      <div class="profile-tab">
        <button class="profile-nav-btn" id="profile-info-btn">個人頁面</button>
      </div>  
      <div class="profile-tab">
        <button class="profile-nav-btn" id="profile-proposal-btn">提案記錄</button>
      </div>
      <div class="profile-tab">
        <button class="profile-nav-btn" id="profile-sponser-btn">贊助記錄</button>
      </div>
      <div class="profile-tab">
        <button class="profile-nav-btn" id="profile-fav-btn">聯絡訊息</button>
      </div>
      <div class="profile-tab">
        <button class="profile-nav-btn" id="profile-contact-btn">編輯資料</button>
      </div>
    </div>
  </div>
</section>

<section class="profile-content-pages">
  <div class="content-pages-container ">
    <div class="content-pages-row">
      <div class="profile-page" id="profile-info-pg1">
        <div class="user-info">
          <div class="info-pic">
            <%= image_tag current_user.image_url,class:"pic" if current_user.image_url.present? %>
          </div>
          <div class="info-content">
            <div class="user-name">
              <%= current_user.name %>
            </div>
            <div class="user-mail">
              <%= current_user.email %>
            </div>
            <div class="user-projects">
              <p >
              贊助過<span><%= current_user.orders.count %></span>件專案
              / 發起過<span><%= current_user.projects.count %></span>件專案
              </p>
            </div>
          </div>
        </div>
        <div class="my-fav-pro">
          <h2 class="track-title">已追蹤專案</h2>
          <div class="my-favorite-row">
            <% @my_fav_projects.each do |my_fav_project| %>
              <%= link_to project_path(my_fav_project), class:"fav-card-link" do %>
                <div class="fav-item">
                  <div class="fav-pic">
                    <%= image_tag my_fav_project.image.url %>
                  </div>
                  <div class="fav-content">
                    <div class="fav-category">
                      <p><%= my_fav_project.category.title %></p>
                    </div>
                    <div class="fav-txt">
                      <h2 class="fav-truncate"><%= my_fav_project.title %></h2>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

      </div>
      <div class="profile-page" id="profile-proposal-pg2">
      </div>
      <div class="profile-page" id="profile-sponser-pg3">
      </div>
      <div class="profile-page" id="profile-edit-bg4">
  
      </div>
      <div class="profile-page" id="profile-contact-pg5">
      </div>
    </div>

  


</div>
</section>

