<div style="margin-top:-10px;">
  <div class="bg-gray-100 flex justify-center">
    <div class="flex-col">
      <button class="profile_btn">
        <%= link_to '編輯個人資料', edit_user_registration_path %>
      </button>
      <div class="bg-red-500 h-1"></div>
    </div>
    <button class="profile_btn">
      <%= link_to '您的提案記錄', user_projects_path(current_user) %>
    </button>
    <button class="profile_btn">
      <%= link_to '您的贊助記錄', user_orders_path(current_user) %>
    </button>
    <button class="profile_btn">
      <%= link_to '追蹤專案列表', my_favorite_projects_path %>
    </button>
    <button class="profile_btn">
      <%= link_to '您的聯絡訊息', dialogboxes_path %>
    </button>
  </div>
  <section class="flex mt-10 justify-center">
    <div>
      <%= image_tag current_user.image_url,class:"h-40 w-40 rounded-full m-auto" if current_user.image_url.present? %>
    </div>

    <div class="pl-5 mt-3">
      <div class="text-3xl mt-3">
        <%= current_user.name %>
      </div>
      <div class="text-lg mt-2">
        <%= current_user.email %>
      </div>
      <div class="text-sm mt-2">
        <p class="text-xs">
        贊助過<span class="text-red-600"><%= current_user.orders.count %></span>件專案
        / 發起過<span class="text-red-600"><%= current_user.projects.count %></span>件專案
        </p>
      </div>
    </div>
  </section>

  <%= render './devise/registrations/edit'%>
</div>