<h2>編輯個人資料</h2>
 <%#= resource_name.to_s.humanize %>

<%= form_for(resource, as: resource_name, url: profile_users_path, html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>目前正等待您點選確認信:  <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.label "顯示名稱" %><br/>
  <%= f.text_field :name, placeholder: current_user.name %>

  <div class="field">
    <%= f.label '密碼' %> <i>(如果不想更新密碼可略過)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: '最少六碼' %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>


<%= link_to "回個人頁面", :back %>
