<div class="resign-container mt-14">

  <h2>歡迎加入！</h2>

<%= devise_error_messages! %>

<main class="resign-box">

    <h3 class="resign-title">註冊</h3>

    <section class="mt-3">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="resign-item">
        <%= f.label :name ,"使用名稱" %>
        <%= f.text_field :name ,class: 'resign-input'%>
      </div>

      <div class="resign-item">
        <%= f.label :email ,"註冊信箱"%>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'resign-input' %>
      </div>

      <div class="resign-item">
        <div class="txt flex">
        <%= f.label :password ,"密碼"%>
        <% if @minimum_password_length %>
        <span>(
          最少需<%= @minimum_password_length %>字元）</span>
        <% end %>
        </div>
        <%= f.password_field :password, autocomplete: "new-password" ,class: 'resign-input'%>
      </div>

      <div class="resign-item">
        <%= f.label :password_confirmation ,"確認登入密碼" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class: 'resign-input'%>
      </div>

      <div class="upload">
        <%= f.label :image, '設定個人照片' ,class:'upload-title'%>
        <%= f.file_field :image, id: :user_image ,class:''%>
      </div> 

      <div class="actions">
        <%= f.submit "註冊" ,class: 'resign-btn'%>
      </div>
      <% end %>

      <div class="fb-signin">
      <%= link_to "使用Facebook帳號登入", user_facebook_omniauth_authorize_path, class:"btn btn-fb" %>
      </div>
      <div class="google-signin">
        <%= link_to "使用Google帳號登入", user_google_oauth2_omniauth_authorize_path, class:"btn btn-google" %>
      </div>
      <p>註冊 CALLBACK 會員即表示我同意網站使用條款</p>


      <div class="sign_in flex justify-between my-4">
        <div class="signin-titel"><span>已經有帳號了？</span></div>

        <%- if controller_name != 'sessions' %>
        <div>
          <%= link_to "登入", new_session_path(resource_name) ,class:'signin-btn' %>
        <% end %>
        </div>
      </div>

    </section>
</main>    

</div>
