<%# 按下回覆之後的表單%>
<%= form_with model: [@project, @comment] do |f| %>
  <%= f.hidden_field :parent_id %>
  <div>
    <%= f.text_area :content, placeholder: '請回覆' %>
  </div>
  <%= f.submit '送出回覆' %>
  <%= link_to '取消', project_path(@project) %>
<% end %>
