<%= form_with model: [@project, @comment] do |f| %>
  <%= f.hidden_field :parent_id %>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <%= f.submit '送出回覆' %>
  <%= link_to '取消', project_path(@project) %>
<% end %>