<%# 按下回覆之後的表單%>
<%= form_with model: [@project, @comment] do |f| %>
  <%= f.hidden_field :parent_id %>
  <div class="reply-form flex">
  <div class="input-ctn"><%= f.text_field  :content, class:'reply-input',placeholder: "回覆..." %></div>
  <div class="re-btn"><%= f.submit '送出' %></div>
  </div>
  <%# <%= link_to '取消', project_path(@project) %> 
<% end %>
