<p id="notice"><%= notice %></p>
<%= link_to 'New Admin Order', new_admin_order_path %>

<div class="my-2 py-2 flex justify-center">
  <div class="mt-6 inline-block px-8 pt-3">
    <table class="w-full">
      <thead>
        <tr>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-center leading-4 text-blue-500 tracking-wider">專案名稱</th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-center leading-4 text-blue-500 tracking-wider">訂單編號</th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-center leading-4 text-blue-500 tracking-wider", colspan="3">操作</th>
        </tr>
      </thead>

      <tbody>
        <% @admin_orders.each do |order| %>
          <tr>
            <td class="text-center px-6 py-4 border-b border-gray-500">
              <%= order.project_title %>
            </td>
            <div class="">
              <td class="text-center px-6 py-4 border-b border-gray-500">
                <%= link_to 'Edit', edit_admin_order_path(order) %>
              </td>
              <td class="text-center px-6 py-4 border-b border-gray-500">
                <%= link_to 'Destroy', order_path, method: :delete %>
              </td>
            </div>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
