<div class="model-title-container">
  <h1>Message清單</h1>
  <%= link_to '新增message', new_admin_message_path, class:"create-btn"%>
  <p><%= @admin_messages.count %> messages</p>
</div>

<div class="admin-table-container">
  <table>
    <thead>
      <tr>
        <th class="admin_th">ID</th>
        <th class="admin_th">內容</th>
        <th class="admin_th">user name</th>
        <th class="admin_th">dialogbox ID </th>
        <th class="admin_th">created_at</th>
        <th class="admin_th">deleted_at</th>
        <th class="admin_th", colspan="3">操作</th>
      </tr>
    </thead>

    <tbody>
      <% @admin_messages.each do |admin_message| %>
        <tr>
          <td class="admin_td"><%= admin_message.id %></td>
          <td class="admin_td"><%= admin_message.content %></td>
          <td class="admin_td"><%= admin_message.user.name %></td>
          <td class="admin_td"><%= admin_message.dialogbox.id %></td>
          <td class="admin_td"><%= admin_message.created_at %></td>
          <td class="admin_td"><%= admin_message.deleted_at %></td>
          <td class="ud_btn"><%= link_to 'Show', admin_message %></td>
          <td class="ud_btn"><%= link_to 'Edit', edit_admin_message_path(admin_message) %></td>
          <td class="ud_btn"><%= link_to 'Destroy', admin_message, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
