  <div class="side-bar-container">
    <div class="side-bar-content">
        <ul>
          <li class="list-none">
                <%= link_to 'User', admin_users_path, class:"models"%>
          </li>
          <li class="list-none">
                <%= link_to 'Comment', admin_comments_path, class:"models"%>
          </li>
          <li class="list-none">
              <%= link_to 'Project', admin_projects_path, class:"models"%>
          </li>
          <li class="list-none">
              <%= link_to 'Giveback', admin_givebacks_path, class:"models"%>
          </li>
          <li>
          <%= link_to 'Category', admin_categories_path, class:"models"%>
          </li>
          <li>
          <%= link_to 'Order', admin_orders_path, class:"models"%>
          </li>
          <li>
          <%= link_to 'Notification', admin_notifications_path, class:"models"%>
          </li>
          <li>
          <%= link_to 'Dialogbox', admin_dialogboxes_path, class:"models"%>
          </li>
          <li>
          <%= link_to 'Message', admin_messages_path, class:"models"%>
          </li>
        </ul>
    </div>
  </div>