  <div class="bg-gray-100 fixed bottom-0 mt-12 h-screen w-30">
    <div class="mt-12 left-0 top-0 content-center content-start text-center justify-between">
        <ul class="list-reset flex flex-row md:flex-col py-0 md:py-3 px-1 md:px-2 text-center md:text-left">
          <li class="list-none">
                <%= link_to 'User', admin_users_path, class:"text-sm inline-block py-2 px-4 text-black no-underline hover:text-gray-200"%>
          </li>
          <li class="list-none">
                <%= link_to 'Comment', admin_comments_path, class:"text-sm inline-block py-2 px-4 text-black no-underline hover:text-gray-200"%>
          </li>
          <li class="list-none">
              <%= link_to 'Project', admin_projects_path, class:"text-sm inline-block py-2 px-4 text-black no-underline hover:text-gray-200"%>
          </li>
          <li class="list-none">
              <%= link_to 'Giveback', admin_givebacks_path, class:"text-sm inline-block py-2 px-4 text-black no-underline hover:text-gray-200"%>
          </li>
          <%= link_to 'Category', admin_categories_path, class:"text-sm inline-block py-2 px-4 text-black no-underline hover:text-gray-200"%>
          </li>
          <%= link_to 'Order', admin_orders_path, class:"text-sm inline-block py-2 px-4 text-black no-underline hover:text-gray-200"%>
        </ul>
    </div>
  </div>