<div class="text-xs">
  <div class="text-center">
    <h1 class="text-xl mb-1">Giveback清單</h1>
    <%= link_to '新增giveback', new_admin_giveback_path, class:"bg-blue-200 rounded p-1"%>
    <p id="notice"><%= notice %></p>
  </div>

  <div class="my-2 py-2 flex justify-center">
    <div class="mt-6 inline-block px-8 pt-3">
      <table>
        <thead>
          <tr>
            <th class="admin_th">ID</th>
            <th class="admin_th">名稱</th>
            <th class="admin_th">價格</th>
            <th class="admin_th">描述</th>
            <th class="admin_th">寄送時間</th>
            <th class="admin_th">專案名稱</th>
            <th class="admin_th">專案ID</th>
            <th class="admin_th">created_at</th>
            <th class="admin_th">updated_at</th>
            <th class="admin_th">deleted_at</th>
            <th class="admin_th", colspan="3">操作</th>
          </tr>
        </thead>

        <tbody>
          <% @admin_givebacks.each do |admin_giveback| %>
            <tr>
              <td class="admin_td"><%= admin_giveback.id %></td>
              <td class="admin_td"><%= admin_giveback.title %></td>
              <td class="admin_td"><%= admin_giveback.price %></td>
              <td class="admin_td"><%= admin_giveback.description %></td>
              <td class="admin_td"><%= admin_giveback.deliver_time %></td>
              <td class="admin_td"><%= admin_giveback.project.title %></td>
              <td class="admin_td"><%= admin_giveback.project.id %></td>
              <td class="admin_td"><%= admin_giveback.created_at %></td>
              <td class="admin_td"><%= admin_giveback.updated_at %></td>
              <td class="admin_td"><%= admin_giveback.deleted_at %></td>
              <td class="ud_btn"><%= link_to 'Edit', edit_admin_giveback_path(admin_giveback) %></td>
              <td class="ud_btn"><%= link_to 'Destroy', admin_giveback, method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
