<div class="flex justify-center">
  <%= form_with(model: admin_project, local: true) do |form| %>
    <% if admin_project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(admin_project.errors.count, "error") %> prohibited this admin_project from being saved:</h2>

        <ul>
          <% admin_project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_for(admin_project) do |form| %>
      <div class="admin_project-title">
        <%= form.label :title, '提案人ID' %><br>
        <%= form.number_field :user_id, class:"border-2 border-gray-300"%>
      </div>

      <div class="admin_project-title">
        <%= form.label :title, '專案標題' %><br>
        <%= form.text_field :title, class:"border-2 border-gray-300"%>
      </div>

      <div class="m-3">
        <%= form.label :image, '專案照片' %><br>
        <%= form.file_field :image, id: :admin_project_image %>
      </div> 
      
      <div class="admin_project-summary">
        <%= form.label :summary, '內容摘要' %><br>
        <%= form.text_field :summary, class:"border-2 border-gray-300" %>
      </div>

      <div class="admin_project-content">
        <%= form.label :content, '專案內容' %><br>
        <%= form.text_area :content, class:"border-2 border-gray-300" %>
      </div>

      <div class="target-amount">
        <%= form.label :target_amount, '募資目標' %><br>
        <%= form.number_field :target_amount, class:"border-2 border-gray-300" %>
      </div>
      <br>

      <div class="admin_project-due-date">
        <%= form.label :due_date, '截止時間' %><br>
        <%= form.date_field :due_date %> 
      </div>
      <br>
      <div>
        <%= form.label "專案類別"%><br/>
        <%= form.collection_select :category_id, Category.all, :id, :title, :prompt => "請選擇一個類別" %>
      </div>
      <br>

      <div>
        <%= form.label "status"%><br/>
        <%= form.select :status, options_for_select([
          ['is_hidden'], ['is_published'], ['succeeded'], ['failed']
          ]) %>
      </div>
      <br>

      <%#-------- givebacks ----------%>
      <h3 class='text-xl font-bold'>回饋商品區</h3>
      <div data-controller='nested-form' >
      
        <template data-nested-form-target='template'>
          <%= form.fields_for :givebacks, Giveback.new, child_index: 'new_record' do |giveback| %>
            <%= render 'projects/giveback_field', form: giveback %>
          <% end %>
        </template>

        <%= form.fields_for :givebacks do |giveback| %>
          <%= render 'giveback_field', form: giveback %>
        <% end %>

        <div class='mb-3' data-nested-form-target='links'>
          <%= link_to '新增回饋', '#', data: { action: 'click->nested-form#add_new_giveback' } %>
        </div>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  <% end %>
</div>
