<p id="notice"><%= notice %></p>

<h1>Admin Projects</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_projects.each do |admin_project| %>
      <tr>
        <td><%= link_to 'Show', admin_project %></td>
        <td><%= link_to 'Edit', edit_admin_project_path(admin_project) %></td>
        <td><%= link_to 'Destroy', admin_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Project', new_admin_project_path %>
