<h1>（現在登入的會員的贊助列表）我的贊助列表頁</h1>
<%= link_to '回首頁(探索)', root_path %>

<% if @user_orders.blank? %> 
  <div>你沒有任何贊助紀錄</div>
<% else %>
<h2>您的贊助列表</h2>

  <table>
    <thead>
      <tr>
        <td>專案名稱</td>
        <td>回饋品名稱</td>
        <td>訂單編號</td>
        <td>贊助金額</td>
        <td>付款時間</td>
        <td>訂單狀態</td>
      </tr>
    </thead>

    <tbody>
        <% @user_orders.each do |user_order| %>
          <% if user_order.user_id == current_user.id %>
            <tr>
              <td><%= user_order.project_title%></td>
              <td><%= link_to user_order.giveback_title, current_user %></td>
              <td><%= user_order.merchantOrderNo%></td>
              <td><%= user_order.giveback_price%></td>
              <td><%= user_order.issue_date&.strftime('%Y年%m月%d日 %H:%M:%S') %> </td>
              <td><%= user_order.status_to_string%></td>

          </tr>
          <% end %>
        <% end %>
    </tbody>
  </table>
<% end %>


</div>
