<div class="container">
  <div class="row">
    <div class="col-12">
      <div style="margin: 32px auto;">
        <p>尚未付款</p>
        <h3><%= @pledge.project_name%></h3>
        <p>方案：<%= @pledge.support_name%></p>
        <p>單號：<%= @pledge.merchantOrderNo%></p>
        <p>單價：<%= @pledge.support_price%></p>
        <p>數量：<%= @pledge.quantity%></p>
        <p>總價：<%= @pledge.payment.end_price%></p>
        <p>
          贊助內容：
        </p>
        <p>
          <%= @pledge.project_support.description %>
        </p>
        <hr/>
        <p> 付款資訊 </p>
          <% case @pledge.payment.payment_type_before_type_cast %>
          <% when Payment.payment_types[:cvs]%>
            <p>繳費代碼：<%= @pledge.payment.code_no %></p>
            <p>付款截止日：<%= @pledge.payment.unpaid_payment_expire_date %></p>
          <% end %>
        <hr/>
        <%= link_to "回到首頁", root_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>