
<h2>感謝您的贊助</h2>
<h3><%= @order.project_title%></h3>
<div>方案：<%= @order.giveback_title%></div>
<div>單號：<%= @order.merchant_order_no%></div>
<div>單價：<%= @order.giveback__price%></div>
<div>總價：<%= @order.giveback_price%></div>
<div>贊助內容：<%= @order.giveback.description %></div>

<div> <%= link_to "回到首頁", root_path %></div>
