<%= content_tag :div, class: "nested_field", data: { new_record: form.object.new_record? } do %>
  <div class='m-3'>
    <%= form.label :title, '回饋商品' %>
    <%= form.text_field :title, class:'border-2'%>
  </div>
  <div class='m-3'>
    <%= form.label :price, '價格' %>
    <%= form.text_field :price, class:'border-2' %> 
  </div>
  <div class='m-3'>
    <%= form.label :deliver_time, '預計寄送時間' %>
    <%= form.datetime_field :deliver_time %> 
  </div>

  <div class="m-3">
    <%= form.label :image, '商品照片' %>
    <%= form.file_field :image, id: :giveback_image %>
  </div> 

  <%= link_to '刪除回饋商品', '#', class:'mb-3 text-red-400', data: { action: 'click->nested-form#remove_giveback'}%>
  <%= form.hidden_field :_destroy %>

<% end %>