
<section class="pro-ctn">
  <div class="projects-container">
    <div class="row">
      <div class="projects-txt">
        <div class="projects-category"><p><%= @project.category.title %></p></div>
        <div class="projects-title"><h2><%= @project.title %></h2></div>
      </div>
      <div class="projects-content-top">
        <div class="projects-left">
          <div class="banner"><%= image_tag @project.image_url if @project.image_url.present? %></div>
          
          <div class="progress-bar-wrapper">
            <div class="fund-progress-bar">

            <% if  @percentage == 0  %>
              <div class="progress-bar"></div>
            <% elsif  @percentage.between?(1,30)  %>
              <div class="progress-bar-1"></div>
            <% elsif @percentage.between?(31,60)  %>
              <div class="progress-bar-2"></div>
            <% elsif @percentage.between?(61,100)   %>
              <div class="progress-bar-3"></div>
            <%end%>

              <div class="progress-points">
                <div class="progress-section ">
                  <div class="txt space-y-4">
                    <span class="progressMoney">$0</span>
                    <span class="progressTitle">募資開始</span>
                  </div>
                </div>
                <div class="progress-section ">
                  <div class="progress-point"></div>
                  <div class="txt space-y-4">
                    <span class="progressMoney">$<%= @project.target_amount.to_s(:delimited) %></span>
                    <span class="progressTitle">募資成功</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="projects-right">
          <div class="projects-price">
            <p class="target-amount  tag">目標NTD$<span><%= @project.target_amount.to_s(:delimited) %></span></p>
            <p class="price_amounts titles">$<span><%=@project.paid_orders_amounts.to_s(:delimited)%><span></p>
          </div>
          <div class="projects-sponsor">
            <p class="sponsor-title tag">贊助人數</p>
            <p class="sponser titles"> <%= @project.paid_orders.count%> 人</p>
          </div>
          <div class="projects-date">
            <p class="date-title tag">倒數天數</p>
            <p class="day titles"><span><%= @project.days_left%></span>天</p>
          </div>
          <div class="projects-percent">
            <p class="percent-title tag">募資進度</p>
            <p class="percent titles"><span><%= @project.percentage_of_reaching_goal * 100.round(2)%>%</span></p>
          </div>
                     
          
          <% if project_owner? %>
            <div class="projects-btns unclik">
              <div class="sponser-btn"><a>無法贊助此專案</a></div>
            </div>
          <% else %>
            <div class="projects-btns ">
              <div class="sponser-btn">
                <% if !project_owner? %>
                  <%= link_to "贊助此專案",rewards_project_path %>
                <% end %>
              </div>
              <div class="track-btn">
                <div class="new-dialogbox-popup-btn">  
                  
                    <% if !project_owner? %>
                      <a href="#" class="new-dialogbox-popup active">
                      <p class="msg-icon"><i class="far fa-comments"></i></p>
                      聯絡提案人
                      </a>
                    <% end %>
                  </div>
                <div class="new-dialogbox-popup-block">
                  <div class="popup-content">
                    <div class="close-popup">
                      <i class="far fa-times-circle text-5xl"></i>
                    </div>
                    <div class="project-owner-info">
                      <div>(這邊可以放提案負責人照片)</div>
                      <div>提案負責人： <%= @project.user.name %></div>
                    </div>
                    <hr>
                    <div class="add-message-to-dialogbox">
                      <div class="message-guiding">
                        傳訊息給 <%= @project.user.name %>
                      </div>
                    </div>
                      <%# -----message-----%>
                    <div class="message-form">
                      <%= render 'projects/msg_form', message: @message, project: @project %>
                    </div>
                  </div>
                </div>
                
                <div class="favorite-btn " data-controller="favorite" data-favorite-id="<%= @project.id %>">
                    <% if user_signed_in? && !project_owner? %>
                      <%= link_to '#', data: { action: 'favorite#toggle_like' } ,class:"fav-ctn" do %>
                        <% if current_user.favorite?(@project) %>
                          <p class="fav-icon"><i class="fas fa-heart" data-favorite-target='icon'></i></p>
                          <% else %>
                          <p class="fav-icon"><i class="far fa-heart" data-favorite-target='icon'></i></p>
                          <% end %>
                          <p>收藏</p>
                        <% end %>
                    <% end %>
                </button> 
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
    
  </div>
</section>

<section class="w-full bg-gray-100 mt-20">
  <div class="tabs-container">
      <div class="pro-tab">
        <div class="content-tab">
          <button class="tab-link clicked" id="content-btn">
            專案內容
          </button>
          <button class="tab-link" id="comment-btn">
            專案留言
          </button>
        </div>
        
        <div class="user-tab ">
         <div class="user-pic"><%= image_tag @project.user.image_url if @project.image_url.present? %></div>
         <div class="user-name">
          提案者 <span><%= @project.user.name %></span>
         </div>
        </div>
      </div>
   
  </div>

</section>


<section class="pro-ctn-giveback">
  <div class="pro-giveback-container">
    <div class="pro-giveback-row ">
      <div class="ctn-pages">
        <div class="pro-summary-col mt-10">
        <div class="pro-ctn-page pro-page" id="content-pg1">
          <%= @project.content %>
        </div>
        <div class="pro-comment-page pro-page" id="comment-pg2">
          <%= render @project.comments, comment: @comment %>
          <% if user_signed_in? && !project_owner? %>
          <%= form_with model: Comment.new, url: project_comments_path(@project) do |f| %>
           
           <div class="comment-box"> <%= f.text_area :content, placeholder: '留下你的你對我們的心得吧！', class:'comment-text' %></div>
            
            <div class="send-btn"><%= f.submit '送出' %></div>
          <% end %>
          <% end %>
        </div>
      </div>
      </div>

      <div class="pro-giveback-col flex flex-col">
       <%= render 'giveback_show' %>

      </div>
    </div>
  </div>
</section>




          
          


            

