<h1>募資專案頁(show)</h1>
<div>專案名稱： <%= @project.title %></div>
<div>專案類別： <%= @project.category %></div>
<div>內容摘要： <%= @project.summary %></div>
<div>專案內容： <%= @project.content %></div>
<div>募資目標： <%= @project.target_amount %></div>

<%# -----texting-----%>
<div><%= link_to '聯絡提案人', textings_path, method: 'POST' %></div>

<%# -----giveback-----%>
<div>
  <ul>
    <% @givebacks.each do |g| %>
      <li>回饋商品： <%= g.title %></li>
      <li>商品價格： <%= g.price %>元</li>
    <%end%>
  </ul>
</div>


<div>
  <% if (current_user == @project.user) %>
    <%= link_to "編輯此專案", edit_project_path(@project) %>
  <% end %>
</div>

<div>
  <%= link_to '回探索（專案列表）', projects_path %></h2>
</div>