<h1>募資專案頁(show)</h1>
<%= image_tag @project.image_url if @project.image_url.present? %>
<div>專案名稱： <%= @project.title %></div>
<div>專案類別： <%= @project.category %></div>
<div>內容摘要： <%= @project.summary %></div>
<div>專案內容： <%= @project.content %></div>
<div>募資目標： <%= @project.target_amount %></div>

<%# -----dialogbox-----%>
<div>
  <% unless project_owner? %>
    <%= link_to '聯絡提案人', dialogboxes_path, id: 'new-dialogbox-link', data: {popup: true} %>
  <% end %>
</div>

<div class="new-dialogbox-popup">
  <div class="popup-content">
    <div class="project-owner-info">
      <div>提案負責人： <%= @project.user.name %></div>
      <div>(這邊可以放提案負責人照片)</div>
      <div>(這邊可以放提案負責人粉絲專頁或官方連結)</div>
      <div>(這邊可以放提案負責人簡介)</div>
    </div>
    <hr>
    <div class="add-message-to-dialogbox">
      <div class="message-guiding">
        傳訊息給 <%= @project.user.name %>
      </div>
    </div>
    <div class="chat-dialogbox">
      <%# -----message-----%>
      <div class="message-typing-box">
        <%= render 'projects/msg_form', message: @message, project: @project %>
      </div>
    </div>
  </div>
</div>

<%# -----giveback-----%>
<div>
  <ul>
    <% @givebacks.each do |g| %>
      <%= image_tag g.image_url if g.image_url.present? %>
      <li>回饋商品： <%= g.title %></li>
      <li>商品價格： <%= g.price %>元</li>
    <%end%>
  </ul>
</div>
<br>

<%# -----comment-----%>
<h3>---留言區---</h3>
<% if user_signed_in? %>
  <%= form_with model: Comment.new, url: project_comments_path(@project) do |f| %>
    <div>
      <%= f.text_area :content, placeholder: '請留言', class:'border-2' %>
    </div>
    <%= f.submit '送出' %>
  <% end %>
<% end %>

<%# 渲染comment跟reply的畫面 %>
<%= render @project.comments, comment: @comment %>


<div>
  <% if project_owner? %>
    <%= link_to "編輯此專案", edit_project_path(@project) %>
  <% end %>
</div>

<div>
  <%= link_to '回探索（專案列表）', projects_path %></h2>
</div>