<h1>（現在登入的會員的專案列表）我是提案者專案列表頁</h1>

  <% if @user_projects.blank? %> 
    <div>你沒有任何提案紀錄</div>
  <% else %>
    <h2 class="mt-3">募資中專案列表</h2>
    <div class="mb-3">
      <ul>
        <% @user_projects.each do |user_project| %>
          <% if user_project.is_published? %>
            <li>
              <%= user_project.title %>
              <%= user_project.status_to_string %></td>
              <%= link_to "修改", edit_project_path(user_project) %>
              <%= link_to "專案頁面", user_project %>
              <%= link_to "專案支付紀錄", myorderlist_project_path(user_project)%>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="fb-share-button" data-href="https://callback.money/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcallback.money%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">分享</a></div>

    <h2 class="mt-3">已達標專案列表</h2>
    <div class="mb-3">
      <ul>
        <% @user_projects.each do |user_project| %>
          <% if user_project.succeeded? %>
            <li>
              <%= user_project.title %>
              <%= user_project.status_to_string %></td>
              <%= link_to "修改", edit_project_path(user_project) %>
              <%= link_to "專案頁面", user_project %>
              <%= link_to "專案支付紀錄", myorderlist_project_path(user_project)%>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="border-t py-3">
      <h2>草稿專案列表</h2>
      <ul>
        <% @user_projects.each do |user_project| %>
          <% if user_project.is_hidden? %>
            <li>
              <%= user_project.title %>
              <%= user_project.status_to_string %></td>
              <%= link_to "修改", edit_project_path(user_project) %>
              <%= link_to "刪除", user_project, method: 'delete' %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

<div>
  <%= link_to '回首頁(探索)', root_path %>
</div>

