
<div class="signin-container mt-14">

  <h2>歡迎回來！</h2>

  <main class="signin-box">
    <h3 class="account-title">會員帳號</h3>
    <section class="mt-6">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-item">
          <%= f.label :email ,"登入信箱" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'user-input'%>
        </div>

        <div class="field form-item">
          <%= f.label :password ,"密碼"%>
          <%= f.password_field :password, autocomplete: "current-password" , class: 'user-input'%>
        </div>

        <div class="flex justify-between">        
        
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :記住我  , class: 'checked-txt'%>
            
            </div>

          <% end %>

          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <div class="field">
          <%= link_to "忘記密碼?", new_password_path(resource_name) %>
          </div>
          
          <% end %>
        </div>

        <div class="actions">
          <%= f.submit "登入",class: 'btn form-btn' %>
        </div>
      <% end %>


      
      <div class="fb-signin">
        <%= link_to "使用Facebook帳號登入", user_facebook_omniauth_authorize_path, class:"btn btn-fb" %>
      </div>
      <div class="google-signin">
        <%= link_to "使用Google帳號登入", user_google_oauth2_omniauth_authorize_path, class:"btn btn-google" %>
      </div>


      <p>如果您使用Facebook登入，我們將在取得您的授權同意後，導入您的姓名和個人資料作為帳號必要資訊。</p>

    <%= link_to "使用Facebook帳號登入", user_facebook_omniauth_authorize_path, class:"mt-3 text-center text-white bg-blue-500 border-0 py-1 px-1 focus:outline-none hover:bg-blue-600 rounded text-lg" %>
  
    <%= link_to "使用Google帳號登入", user_google_oauth2_omniauth_authorize_path, class:"mt-3 text-center text-white bg-gray-500 border-0 py-1 px-1 focus:outline-none hover:bg-gray-600 rounded text-lg" %><br />

      <div class="resign flex justify-between my-4">
        <div class="resign-titel"><span>還沒有帳號？</span></div>
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <div class="resign-titel">
            <%= link_to "註冊", new_registration_path(resource_name) ,class:'resign-btn'%>
            <% end %>
        </div>
      </div>

    </section>    
  </main>

</div>

