<div id="dialogbox-id" data-dialogbox-id="<%= @dialogbox.try(:id) %>"></div>
<div id="user-id" data-user-id="<%= current_user.id %>"></div>

<div class="container mx-auto">
  <div class="grid grid-cols-3">
    <%# 聯絡訊息列表 %>
    <% @my_dialogboxes.each do |dialogbox| %> 
      <div class="col-span-1">
        <%= link_to dialogbox do %>
          <div class="card-body">
            <%= dialogbox.project.title %>(這dialogbox的專案名；還沒做好，點開之後右邊要可以直接show個別的dialogbox，不跳頁)
          </div>
        <% end %>
      </div>
      <%# 訊息視窗 %>
      <div class="col-span-2">
        <div class="project-dialogbox">
          <h4><%= dialogbox.project.title %></h4>
        </div>
        <div class="messages-block">
          <% dialogbox.messages.each do |message| %>
            <%= render 'messages/message', message: message %>
          <% end %>
        </div>
        <div class="message-typing-box">
          <%= render 'dialogboxes/msg_form', message: Message.new, dialogbox: dialogbox %>
        </div>
      </div>
    <% end %>
  </div>
</div>
