<p id="notice"><%= notice %></p>

<h1 class="text-xl">User 清單</h1>

<table>
  <thead>
    <tr>
      <th>名稱</th>
      <th>狀態</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @admin_users.each do |admin_user| %>
      <tr>
        <td><%= admin_user.name %></td>
        <td><%= admin_user.role %></td>
        <td><%= link_to 'Show', admin_user %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(admin_user) %></td>
        <td><%= link_to 'Destroy', admin_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增user', new_admin_user_path, class:"bg-gray-200 rounded p-1"%>
