<div class="text-xs">
  <div class="text-center">
    <h1 class="text-xl mb-1">User清單</h1>
    <%= link_to '新增user', new_admin_user_path, class:"bg-blue-200 rounded p-1"%>
    <p id="notice"><%= notice %></p>
  </div>

<div class="my-2 py-2 flex justify-center">
    <div class="mt-6 inline-block px-8 pt-3">
      <table>
        <thead>
          <tr>
            <th class="admin_th"><%= sort_link(@q, :id, 'ID') %></th>
            <th class="admin_th"><%= sort_link(@q, :name, '名稱') %></th>
            <th class="admin_th"><%= sort_link(@q, :email, 'Email') %></th>
            <th class="admin_th"><%= sort_link(@q, :role, '狀態') %></th>
            <th class="admin_th"><%= sort_link(@q, :created_at, 'created_at') %></th>
            <th class="admin_th"><%= sort_link(@q, :updated_at, 'updated_at') %></th>
            <th class="admin_th"><%= sort_link(@q, :deleted_at, 'deleted_at') %></th>
            <th class="admin_th", colspan="3">操作</th>
          </tr>
        </thead>

        <tbody>
          <% @admin_users.each do |admin_user| %>
            <tr>
              <td class="admin_td"><%= admin_user.id %></td>
              <td class="admin_td"><%= admin_user.name %></td>
              <td class="admin_td"><%= admin_user.email %></td>
              <td class="admin_td"><%= admin_user.role %></td>
              <td class="admin_td"><%= admin_user.created_at %></td>
              <td class="admin_td"><%= admin_user.updated_at %></td>
              <td class="admin_td"><%= admin_user.deleted_at %></td>
              <td class="ud_btn"><%= link_to 'Show', admin_user %></td>
              <td class="ud_btn"><%= link_to 'Edit', edit_admin_user_path(admin_user) %></td>
              <td class="ud_btn"><%= link_to 'Destroy', admin_user, method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p><%= @admin_users.count %> users</p>
    </div>
  </div>
</div>
