<!DOCTYPE html>
<html>
  <head>
    <title>Callback</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
 
  </head>

  <body>
    <%= render "shared/admin_navbar" %>
    <div style="margin-top:55px"></div>
    <div class="flex">
      <div>
        <%= render "shared/admin_sidebar" %>
      </div>
      <div class="table-section">
        <% if notice %>
        <p id="notice"><%= notice %></p>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
