<!DOCTYPE html>
<html>
  <head>
    <title>Callback</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
 
  </head>

  <body class="<%= controller_name %> <%= action_name %>" >

    <%= content_tag :p,
      id: "navbar_current_user",
      user_data: current_user.to_json(only: [:name, :id, :image]) do %>
    <% end %>

    <%= render "shared/navbar" %>
    <div class="mt-20"></div>
    
    <% flash.now[:notice] = params["flash_notice"] if params["flash_notice"] %>
    <% if notice %>
      <p class="notice text-center bg-red-100 p-5 text-lg"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="notice text-center bg-red-100 p-5 text-lg"><%= alert %></p>
    <% end %>
    <%= yield %>

  </body>
</html>
