<!DOCTYPE html>
<html>
  <head>
    <title>Callback</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    
  </head>

  <body>
    <%= render "shared/navbar" %>
    <% if notice %>
      <p class="notice text-center bg-red-100 p-5 text-lg"><%= notice %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
