<!DOCTYPE html>
<html>
  <head>
    <title>Callback</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
 
  </head>

  <body class="<%= controller_name %> <%= action_name%>" >

    <%= content_tag :p,
      id: "navbar_current_user",
      user_data: current_user.to_json do %>
    <% end %>

    <%= render "shared/navbar" %>
    <% if notice %>
      <p class="notice text-center bg-red-100 p-5 text-lg"><%= notice %></p>
    <% end %>
    <%= yield %>

  </body>
</html>
